<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}FlexAdmin | Dashboard{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}

</head>
<body>


{% block sidebar %}
<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard <small>Manage Your Site</small></h1>
            </div>
        </div>
    </div>
</header>
{% endblock %}

<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('logout') }}">Logout</a></li>
        </ol>
    </div>
</section>
{% block body %}
<section id="main">
    <div class="container">
        <div class="row">

               {% block menu %}
                <div class="col-md-3">
                    <div class="list-group">
                        <a href="{{ path('admin_dashboard') }}" class="list-group-item active main-color-bg">
                            Dashboard
                        </a>
                        <a href="{{ path('admin_dashboard') }}" class="list-group-item">Pages</a>
                        <a href="#" class="list-group-item"> Posts</a>
                        <a href="{{ path('admin_users') }}" class="list-group-item"> Users</a>
                    </div>

                </div>
                {% endblock %}

                {% block oveview %}
                   <div class="col-md-9">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Website Overview</h3>
                            </div>
                            <div class="panel-body">

                            </div>
                        </div>
                   </div>
                {% endblock %}

                {% block content %}
                {% endblock %}

        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}


</body>
</html>